<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/css/pygment_trac.css">

    <!-- Javascript -->
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>

     <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87382096-1', 'auto');
      ga('send', 'pageview');

    </script>

	</head>
	<body>
    <div class="wrapper">
      <header>
        <h1>INTO-CPS</h1>
        <h3>Co-Simulation using FMI</h3>

        <ul>
          <li><a href="{{ site.url }}/">Home</a></li>

					<li><a href="{{ site.url }}/getting-started/">Getting Started</a>
						<ul>
							<li>
								<a href="{{ site.url }}/download/">Download</a>
							</li>
							<li>
								<a href="{{ site.url }}/report-an-issue.html">Report an Issue</a>
							</li>
							<li>
								<a href="{{ site.url }}/weekly-issue/index.html">Current Issues</a>
							</li>
						</ul>

					</li>


					<li><a href="{{ site.url }}/systemmodelling">Modelio Multi-Model Development</a>

						<ul>
              <li><a href="{{ site.url }}/systemmodelling/connection-export.html">Connection Export</a></li>
              <li><a href="{{ site.url }}/systemmodelling/fmu-import-export.html">FMU Import/Export</a></li>

            </ul>

					</li>
					<li><a href="{{ site.url }}/constituent-model-development">Constituent Model Development</a>

						<ul>
							<li><a href="{{ site.url }}/constituent-model-development/overture/">Overture</a>
								<ul>
									<li>
										<a href="{{ site.url }}/constituent-model-development/overture/codegen.html">Code Generation</a>
									</li>
									<li>
										<a href="{{ site.url }}/constituent-model-development/overture/fmi-support.html">FMU Import/Export</a>
									</li>
								</ul>
							</li>
							<li><a href="{{ site.url }}/constituent-model-development/20sim.html">20-sim</a></li>
							<li><a href="{{ site.url }}/constituent-model-development/openmodelica.html">Open Modelica</a></li>
						</ul>



					</li>
					<li><a href="{{ site.url }}/simulation/">Co-Simulation</a>
						<ul>
							<li><a href="{{ site.url }}/simulation/app.html">INTO-CPS App</a></li>
							<li><a href="{{ site.url }}/simulation/advanced.html">Advanced</a></li>
						</ul>

					</li>

					<li><a href="{{ site.url }}/testing/">Test Automation</a></li>
					<li><a href="{{ site.url }}/dse/">Design Space Exploration</a></li>




				</ul>



        <p><img src="{{ site.url }}/images/into-cps-logo.png" alt="INTO-CPS"></p>
        <p><a href="https://github.com/into-cps">Go to our GitHub Profile</a></p>
        <p><a href="http://twitter.com/IntoCps">Follow @IntoCps</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Original theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
	</body>
</html>
